/*Цвета*/
$white: #ffffff;
$black: #000000;
$color-main: #82b4d3;
$color-text: #333333;
$bg-featured: #efefef;
$bg-video-button: #f2f2f2;


/*Шрифт*/
$font-primary: "PTSans";
$font-primary--bold: "PTSansBold";
$font-back:  "Arial", sans-serif;
$font: $font-primary, $font-back;
$font--bold: $font-primary--bold, $font-back;

/*Разрешение*/
$mobile-widths: "(max-width: 767px)";
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1200px)";

/*Ретина*/
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
