.adventage-item {

  &__description {
    padding-bottom: 40px;
  }

  &__title {
    margin-bottom: 9px;
    padding-top: 39px;

    text-align: center;
    color: $black;
    font-family: $font--bold;
    @include font-properties(18px, 26px);

    &--border {
      padding-top: 55px;
    }
  }

  &__number {
    display: block;
    text-align: center;
  }

  &__text {
    width: 265px;
    margin: auto;
    margin-top: 15px;
    text-align: center;
  }

  &__number,
  &__text {
    color: $color-text;
    font-family: $font;
    @include font-properties(14px, 21px);
  }

  &__image {
    /*background-image: url(../img/photo-4-mobile@1x.jpg);*/
    img {
      display: block;
    }
  }

  &--full {
    background-color: $color-main;

    .adventage-item__title,
    .adventage-item__number,
    .adventage-item__text {
      color: #fff;
    }
  }

  &--half {
    background-color: $bg-featured;

    .adventage-item__title {
      margin-top: 0px;
      padding-top: 26px;
    }

    .adventage-item__text {
      padding-bottom: 27px;
      border-bottom: 1px solid $color-featured-border;
    }

    .adventage-item__description {
      padding-bottom: 0px;
    }
  }

  &--tourist {
    .adventage-item__text {
      border-bottom: none;
    }
  }

  @media #{$tablet-widths} {
  }

  @media #{$desktop-widths} {
  }
}
