body {
  width: 320px;
  margin: 0px auto;
  padding: 0px;

  @media #{$tablet-widths} {
    width: 768px;
  }

  @media #{$desktop-widths} {
    width: 1200px;
  }
}

/*
Седона:
320px — мобильная версия,
768px — планшетная версия,
1200px — десктопная версия.*/
