.featured {
  margin-top: 18px;
  background-color: $white;
  margin-bottom: 38px;

  &__item {
    display: flex;
    margin-bottom: 12px;

    &--food {
    }
  }

  &__description {
    margin-top: 17px;
    margin-left: 31px;
  }

  &__title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: $font--bold;
    @include font-properties(18px, 26px);
    color: $black;
    text-transform: uppercase;
  }

  &__text {
    width: 199px;
    margin-top: 13px;
    margin-bottom: 0px;

    font-family: $font;
    @include font-properties(14px, 21px);
    color: $black;
    text-transform: uppercase;
  }

  @media #{$tablet-widths} {
  }

  @media #{$desktop-widths} {
  }
}
