.intro {
  background: url(../img/bg-back-mobile@1x.jpg) center;

  &--index {
    min-height: 389px;

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  @media #{$tablet-widths} {
  }

  @media #{$desktop-widths} {
  }
}
