.page-footer {
  padding-bottom: 28px;
  background-color: $bg-footer;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  @media #{$tablet-widths} {
  }

  @media #{$desktop-widths} {
  }
}
